
<div class="container">
    <div class="card col-md-6 offset-3 mt-2">
        <div class="card-header">New Customers</div>
        <div class="card-body">
            <form [formGroup]=" newCustomerFormGroup" (ngSubmit)="HandleSaveCustome()">
              <div class="mb-3">
             <label class="form-label">name</label>
             <input type="text" formControlName="name"class="form-control">

            <!-- validation par message  -->
            <span class="text-danger" *ngIf="newCustomerFormGroup.controls['name'].touched &&
             newCustomerFormGroup.controls['name'].errors && newCustomerFormGroup.controls['name'].errors!['required'] ">
                Name is required
            </span>


              </div>

              <div class="mb-3">
                <label  class="form-label">email</label>
                <input type="email" formControlName="email" class="form-control">

                <span class="text-danger" *ngIf="newCustomerFormGroup.controls['email'].touched &&
                newCustomerFormGroup.controls['email'].errors && newCustomerFormGroup.controls['email'].errors!['email'] ">
                   Email is not valid
               </span>
             </div>
                <button [disabled]="!newCustomerFormGroup.valid" class="btn btn-info">save</button>
            </form>
        </div>
    </div>
</div>